@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light; }
* { box-sizing: border-box; }
body { margin: 0; background: #f7fafb; color: #334e68; }
a { text-decoration: none; }

